html {
  font-size: 125%;
}

.header {
  background-color: #F1B82D;
  padding-top: 12px;
  padding-bottom: 12px;
}

h1 {
  color: #000000;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}

h2 {
  color: #000000;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
}

.nav li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav a:link, .nav a:visited {
  display: block;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 12px;
}

.nav a:hover, .nav a:active {
  background-color: #363636;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  padding: 15px;
  margin: 5px;
}

@media (min-width: 1000px) {
  .nav {
    flex-direction: row;
  }
}

/* FLEXBOX */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  list-style: none;
  background-color: #f0f0f0;
}

@media (min-widt:1000px) {
  .container {
    flex-direction: row;
  }
}

.story-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  color: #;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
}

.media-body-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.media-body-1 button {
  padding: 10px;
  font-size: 1rem;
}

.story-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
}

.story-2 a {
  color: #000000;
  text-decoration: none;
}

.story-2 a:hover, .nav a:active {
  color: #F1B82D;
}

.story-3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.story-3 a {
  color: #000000;
  text-decoration: none;
}

.story-3 a:hover, .nav a:active {
  color: #F1B82D;
}

h5 {
  font-size: 1.5rem;
  color: #;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
}

.media-body-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.container li {
  list-style-type: none;
	width: 250px;
	height: 315px;
}
